In [1]:
import pandas as pd
import os
os.getenv('PUIDATA')
os.getcwd()

'/Users/Yuwen/Dropbox/PUI2017/HW2_ywc249'

In [2]:
os.system('wget https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab2_fb55/IntrotoStats_Table6_1.csv')
os.system('mv IntrotoStats_Table6_1.csv $PUIDATA')

0

In [3]:
data = pd.read_csv(os.getenv('PUIDATA') + '/IntrotoStats_Table6_1.csv')
data.head()

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown  Female      Psychology   5'4"                Lots
1          Amber     Blonde  Female  Social Science   5'7"         Very Little
2           Paul     Blonde    Male         History   6'1"            Moderate
3    Christopher      Black    Male         Biology  5'10"                Lots
4          Sonya      Brown  Female      Psychology   5'4"              Little

In [4]:
data['Major'].values

array(['Psychology', 'Social Science', 'History', 'Biology', 'Psychology'], dtype=object)

In [5]:
data['Gender'] = data['Gender'].replace('Female', 0)
data['Gender'] = data['Gender'].replace('Male', 1)

dict1 = {'Very Little':0, 'Little':1}
data['Computer Experience'] = data['Computer Experience'].replace(dict1)

data

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown       0      Psychology   5'4"                Lots
1          Amber     Blonde       0  Social Science   5'7"                   0
2           Paul     Blonde       1         History   6'1"            Moderate
3    Christopher      Black       1         Biology  5'10"                Lots
4          Sonya      Brown       0      Psychology   5'4"                   1

In [6]:
def str_to_height(s):
    h = s.split("\'")
    feet = int(h[0])
    inches = int(h[1].strip('"'))
    return feet + inches / 12.

In [7]:
data['Height'] = data.Height.map(str_to_height)

In [8]:
data

,#Students Name,Hair Color,Gender,Major,Height,Computer Experience
0,Norma,Brown,0,Psychology,5.333333,Lots
1,Amber,Blonde,0,Social Science,5.583333,0
2,Paul,Blonde,1,History,6.083333,Moderate
3,Christopher,Black,1,Biology,5.833333,Lots
4,Sonya,Brown,0,Psychology,5.333333,1